body {
    background-color: rgb(73, 73, 73);
    background-image: url(../resources/halbzwilling_channel_background_image_blur.jpg);
    font-family: din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #ACA9A9;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
