// out: styles.css, sourcemap: false, compress: false,

@import "colors.less";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @background-color;
  margin: 0;
}
nav {
  position: relative;
  min-height: 60px;
  background-color: @nav-background;
  width: 100%;
  text-align: center;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "ref nav lang";
  animation: .6s fadein linear;
  a {
    text-decoration: none;
  }
  .main_referral {
    font-size: 26px;
    color: @nav-referral-foreground;
    margin-left: 25px;
    grid-area: ref;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .nav {
    font-size: 29px;
    display: inline-block;
    grid-area: nav;

    line-height: 60px;
    .nav_item {
      color: @nav-foreground;
      padding: 10px 15px;
      position: relative;
      transition: all .15s;
      &:not(:last-child)::after {
        content: '|';
        color: @nav-foreground;
        position: absolute;
        right: -13px;
        bottom: 13px;
        animation: .7s fontsizebuildup ease-out;
      }
      &:hover {
        background-color: @nav-item-hover-background;
      }
    }
  } /*todo: media query*/
  .lang_flags {
    grid-area: lang;
    display: inline-block;
    margin-right: 25px;
    .flag {
        cursor: pointer;
        padding: 8px 6px;
        margin: 0 1px;
        transition: all .1s;
      &.mainpage {
        height: 30px;
      }
      &:not(.mainpage) {
        width: 7.5%;
        height: 80%;
      }
      &.selected {
        border-bottom: 2px solid @flag-border-selected;
      }
      &:hover:not(.selected) {
        border-bottom: 2px solid @flag-border-hover;
        animation: 1s horizontalborderbuildup;
      }
    }
  }
  @supports (display: grid) {
    position: static;
    display: grid;
    .main_referral {
      position: static;
      transform: none;
    }
    .nav {
      line-height: normal;
    }
  }
}

@import "keyframes.less";
