body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(73, 73, 73);
  margin: 0;
}

nav {
  position: relative;
  min-height: 60px;
  background-color: #433443;
  width: 100%;
  text-align: center;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "ref nav lang";
  animation: .6s fadein linear;
  /*todo: media query*/
}

nav a {
  text-decoration: none;
}

nav .main_referral {
  font-size: 26px;
  color: rgba(179, 179, 179, 0.82);
  margin-left: 25px;
  grid-area: ref;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

nav .nav {
  font-size: 29px;
  display: inline-block;
  grid-area: nav;
  line-height: 60px;
}

nav .nav .nav_item {
  color: #b3b3b3;
  padding: 10px 15px;
  position: relative;
  transition: all .15s;
}

nav .nav .nav_item:not(:last-child)::after {
  content: '|';
  color: #b3b3b3;
  position: absolute;
  right: -13px;
  bottom: 13px;
  animation: 0.7s fontsizebuildup ease-out;
}

nav .nav .nav_item:hover {
  background-color: rgba(179, 179, 179, 0.1);
}

nav .config {
  grid-area: lang;
  display: inline-block;
  margin-right: 25px;
}

nav .config .flag {
  cursor: pointer;
  padding: 8px 6px;
  margin: 0 1px;
  transition: all .1s;
}

nav .config .flag.mainpage {
  height: 30px;
}

nav .config .theme {
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

nav .config .flag:not(.mainpage) {
  width: 7.5%;
  height: 80%;
}

nav .config .flag.selected {
  border-bottom: 2px solid rgba(161, 161, 161, 0.75);
}

nav .config .flag:hover:not(.selected) {
  border-bottom: 2px solid rgba(179, 179, 179, 0.95);
  animation: 1s horizontalborderbuildup;
}

@supports (display: grid) {
  nav {
    position: static;
    display: grid;
  }
  nav .main_referral {
    position: static;
    transform: none;
  }
  nav .nav {
    line-height: normal;
  }
}

@keyframes fontsizebuildup {
  from {
    font-size: 0;
    bottom: 30px;
    right: -5px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
}
